.banhBugerTop{
    background-color: #C76528;
    height: 100px;
    border-radius: 50% 50% 0 0;
}

.banhBugerBottom{
    background-color: #C76528;
    height: 100px;
    border-radius: 0 0 50% 50% ;
}
.salad{
    height:10px;
    background-color:green;
    width:140%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:-25px;
    margin-right:-25px;
    border-radius: 5px;
}
.cheese{
    height:30px;
    background-color:#E5C610;
    width:140%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:-15px;
    margin-right:-15px;
    border-radius: 10px;
}

.beef{
    height:45px;
    background-color:#783405;
    width:140%;
    margin-top: 5px;
    margin-bottom: 5px;
   
    border-radius: 15px;
}
table {
    width: 100%;
    height: auto;

}
table thead th{
    padding-top: 15px;
    padding-bottom: 15px;
}
table thead tr th{
    font-size: 20px;

}
table tbody tr{
    border-bottom: 1px solid gray;
    
}
table tbody tr td{
    padding: 15px 0px;
    font-size: 20px;
}